# ignore runtime logs
*_logs*.txt
docker_logs*

# ignore runtime artifacts
**/*.db
**/*.db-shm
**/*.db-wal
**/server.err
**/server.log
cios_v6/backend/reports/
**/__pycache__/
**/node_modules/
**/.venv/
**/.env
**/.DS_Store
**/dist/
**/build/
**/*.pyc
**/*.pyo
**/*.pyd
**/coverage/
**/logs/
**/tmp/
